@import '../../../globals';

.postTable {
  background-color: $md-white-base;
}

.post-table--actions{
  i{
    padding-right: 5px;
  }
  i.thumbUp,
  i.edit{
    color: $md-green-a-400;
  }
  i.thumbDown,
  i.delete{
    color: $md-red-a-400;
  }
}
